body {
  background: linear-gradient(to top right, #ff6f91, #ff6f91, #d65db1, #845ec2);
  background-repeat: no-repeat;
  margin: 0;
  font-family: sans-serif;
}
header {
  width: 100%;
  display: inline-block;
  padding: 0px 20px;
  box-sizing: border-box;
}

header nav {
  float: right;
}
header h2 {
  float: left;
  color: #fff;
  font-family: sans-serif;
  font-style: italic;
  cursor: pointer;
}

#nav ul li {
  display: inline-block;
  padding: 0.83em 10px;
}

#nav ul li a:hover {
  color: #ff6f91;
}

#option a {
  text-decoration: none;
  color: #fff;
}

#main {
  height: 100%;
  position: relative;
}

#main span {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 20px;
}

#main h1,
#main p {
  color: #fff;
}

#main h1 {
  font-size: xx-large;
}

#main p {
  font-size: larger;
}
#about{
  width: 100%;
  display: flex;
  background: aliceblue;
}

#about img {
  float: left;
  width: 50%;
}

#about div {
  float: right;
  width: 50%;
  padding-left: 20px;
  box-sizing: border-box;
}

#experience {
  background: url("../assets/Sun-Tornado.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  height: 100%;
  padding-left: 20px;
}

h2 {
  font-style: italic;
}
.container > section,
.container > span {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container:nth-of-type(even) {
  background-color: #fff;
  color: #5e5e5e;
}

.container:nth-of-type(odd) {
  color: #fff;
}

#projects p {
  text-align: justify;
  padding: 0px 10px;
}
#skill {
  position: relative;
}
#skills {
  padding: 10px 20px;
  display: inline-block;
  transition: all linear 0.2s;
  -webkit-transition: transform linear 0.2s;
  -moz-transition: transform linear 0.2s;
  -ms-transition: transform linear 0.2s;
  -o-transition: transform linear 0.2s;
  cursor: pointer;
}
#skills:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#skills p {
  text-align: center;
}

#skills i {
  font-size: 100px;
}

footer {
  position: relative;
  background: #d65db1;
  padding: 0px 20px;
  color:#fff;
}
footer h2{
  margin: 0;
}

.contact-container {
  width: calc(100% - 20px);
  height: 60%;
}
.contact-container form {
  float: left;
  display: inline;
  margin: 0;
  padding: initial;
}

.contact-container section {
  display: inline;
  margin-left: 20px;
  float: right;
}

input[type="submit"] {
  height: 40px;
  width: 100px;
  background: #ff6f91;
  color: #fff;
  border: none;
  margin-top: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.contact-input {
  margin-top: 20px;
}

.contact-input label {
  font-size: small;
}

.contact-input input,
.contact-input textarea {
  width: 300px;
  height: 40px;
  background: #d6d6d6;
  border: none;
  border-radius: 2px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

#contact-nav ul li {
  display: block;
  margin-top: 10px;
  color: #fff;
}
#contact-nav ul li a {
  color: #fff;
}

#contact-nav ul li a:hover {
  color: #845ec2;
}

.material-icons {
  vertical-align: bottom;
  margin-right: 10px;
}

#contact-nav ul {
  display: inline;
}

#social nav a {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
}

#social nav a:hover {
  color: #5e5e5e;
}
